name: Lint and Tests

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  statsig-lint-and-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust Toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Setup Rust Platform
        shell: bash
        run: |
          chmod a+x setup.sh
          ./setup.sh

      - name: Lint and test
        shell: bash
        run: |
          chmod a+x lint_and_test.sh
          ./lint_and_test.sh

      - name: Verify there were no code changes
        shell: bash
        run: |
          chmod a+x code_changes.sh
          ./code_changes.sh
